/* P alpha css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


body{
    background-color: black;
}

.alpha-parent {
  position: absolute;
}

#alpha1{
    position: absolute;
    left: 340px;
    top: -80px;
    display: inline-block;
    font-size: 94px;
    font-weight: bolder;
    font-stretch: ultra-expanded;
    /* transform: rotate(356deg); */
    color:#08fdd8;
    font-family: 'Roboto', sans-serif;
}

#alpha2{
    position: absolute;
    left: 347px;
    top: -80px;
    display: inline-block;
    font-size: 94px;
    font-weight: bolder;
    font-family:'Roboto', sans-serif ;
    font-stretch: ultra-expanded;
    /* transform: rotate(356deg); */
    color: #fd1056;
}


.landing-page {
  height: 100vh;
  background-color: #000000;
  color: #fff;
  font-family: "League Script", cursive;
}
.test {
  padding-top: 5px;
  background-color: #000000;
  color: #515152;
  font-size: 30px;
  font-family: "La Belle Aurore", cursive;
  /* font-family: 'League Script', cursive; */
}
.title {
  background-color: #000000;
  color: white;
  font-size: 50px;
  font-weight: 9400;
  font-family: font-file-82132;
  font-size: 5.3rem;
  line-height: 4.5rem;
  font-stretch: wider;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}
.role {
  color: gray;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}
.btn {
  text-align: center;
  color: #08fdd8;
  font-size: 22px;
  letter-spacing: 4px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;

  margin-left: 185px;
  background-color: #000000;
  height: 100%;
  border: 1px solid #08fdd8;
  padding: 12px 25px;
  /* display: inline-block; */
  transition: all 0.6s ease-out;
  display: block;
  background: linear-gradient(to right, #08fdd8 50%, #000000 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.btn:hover {
  background-position: left bottom;
  color: #000000;
}

.scroll-down {
  position: absolute;
  right: -20px;
  bottom: 3.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  display: block;
  font-size: 14px;
  font-family: "Open Sans",sans-serif;
}
.scroll-down--left {
  left: -30px;
  right: auto;
}
.scroll-down span {
  display: inline-block;
  animation: scroll 0.5s linear infinite alternate-reverse;
}
@keyframes scroll {
  0% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(7px);
  }
}
.scroll-down .fas {
  transform: rotate(270deg);
  margin-left: 10px;
}




/* Text bouncer ccss satarts */

.bouncer>span{
  display: inline-block;
  opacity: 1;
  transition: opacity ease 0.5s !important;
}
/* .letter-hidden{
  opacity: 0 !important;
} */

.letter-hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.let-bounce {
  animation: bounce 1s ease-out; /* Fast bounce animation */
}

.bouncer span {
  display: inline-block;
  opacity: 1;
  transition: transform 0.5s ease-out; /* Transition the transform property for smoother hover */
}

/* Immediate trigger on hover */
.bouncer span:hover {
  animation: bounce 0.1s ease-out; /* Trigger bounce instantly on hover */
  color: #08fdd8;
}

@keyframes bounce {
  20%,50%,80%,to{
      transform: scaleX(1) scaleY(1);
  }
  40%{
      transform: scaleX(1.75) scaleY(0.65);
  }
  70%{
      transform: scaleX(1.25) scaleY(0.75);
  }
  90%{
      transform: scaleX(1.15) scaleY(0.85);
  }
}









/* About page css starts */
.about {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 5rem 1rem;
  flex-wrap: wrap; /* Ensure wrapping in smaller screens */
}

.about-title {
  font-size: 4rem;
  line-height: 4rem;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  font-family: font-file-82132;
  color: #08fdd8;
  font-weight: 700;
  margin-top: 0;
  position: relative;
  margin-bottom: 40px;
  left: -10px;
}

.about-text {
  font-size: 1.3rem;
  line-height: 1.5;
  background: #000000;
  display: block;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  padding-left: 13rem;
  margin-bottom: 1.6rem;
}

.about-content {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: flex-start; /* Align text to the left */
  flex: 1;
  padding-right: 3rem; /* Some spacing between the text and the image */
  margin-right: 2rem; /* Margin between text and image */
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center; /* Center the image */
  align-items: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px 12px;
}

.about-scroll-down {
  position: absolute;
  right: -20px;
  bottom: -70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  display: block;
  font-size: 14px;
  color: #fff;
}

.about-scroll-down--left {
  left: -30px;
  right: auto;
}

.about-scroll-down span {
  display: inline-block;
  animation: scroll 0.5s linear infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(7px);
  }
}

.about-scroll-down .fas {
  transform: rotate(270deg);
  margin-left: 10px;
}


/* Skills css Starts from here*/

.section-3-content{
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 5rem 1rem;
}
.skills{
  background-color: #000000;
  flex: 50%;
}
.textsphare{
  flex: 50%;
  margin-top: 120px;
}
.skills-scroll-down {
  position: absolute;
  right: -20px;
  bottom: -140rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  display: block;
  font-size: 14px;
  color: #fff;
}
.skills-scroll-down--left {
  left: -30px;
  right: auto;
}
.skills-scroll-down span {
  display: inline-block;
  animation: scroll 0.5s linear infinite alternate-reverse;
}
@keyframes scroll {
  0% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(7px);
  }
}
.skills-scroll-down .fas {
  transform: rotate(270deg);
  margin-left: 10px;
}




/* element.style {
  background: rgb(255, 34, 83);
  width: 75%;
} */

/* Work css Starts from here*/

.work-data {
  background-color: #000000;
  padding-left: 2%;
}
.work-row {
  display: flex;
}
.work-item {
  width: 24%;
  height: 15rem;
  background-color: #000000;
  border: #08fdd8 solid 2px;
  text-align: center;
}
.work-scroll-down {
  position: absolute;
  right: -20px;
  bottom: -210rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  display: block;
  font-size: 14px;
  color: #fff;
}
.work-scroll-down--left {
  left: -30px;
  right: auto;
}
.work-scroll-down span {
  display: inline-block;
  animation: scroll 0.5s linear infinite alternate-reverse;
}
@keyframes scroll {
  0% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(7px);
  }
}
.work-scroll-down .fas {
  transform: rotate(270deg);
  margin-left: 10px;
}


.fake-big-2 {
  font-size: 12rem;
  font-weight: 700;
  position: absolute;
  color: #2d2d2e;
  left: 10px;
  bottom: -70px;
  letter-spacing: -10px;
  z-index: -999;
}
.fake-magicwall {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 50px;
}
.fake-magicwall ul {
  list-style: none;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  flex-wrap: wrap;
}
.fake-magicwall ul li {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  display: list-item;
}
.fake-magicwall .magic-wall_item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.fake-magicwall img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fake-magicwall ul li:hover .magic-wall_item {
  transform: scale(1.14);
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.14);
}
.fake-magicwall ul li a.colorbox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/circle.png) no-repeat center;
  opacity: 0;
  transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  transform: scale(0.2);
}
.fake-magicwall ul li:hover a.colorbox {
  transform: scale(0.6);
  opacity: 1;
}
/* magical wall ends here */

/* experience css Starts from here*/
.experience {
  display: flex;
  background-color: #000000;
  padding: 5rem 3rem;
}

.chart {
  margin-bottom: 2rem;
}
.chart footer div {
  width: 0;
  height: 100%;
  background-color: #08fdd8;
  -webkit-transition: width 1.3s ease-out;
  -o-transition: width 1.3s ease-out;
  transition: width 1.3s ease-out;
}
.chart footer {
  background-color: #373737;
  height: 2px;
}
.skills-details {
  flex:50%;
  color: #fff;
  padding-right: 5rem;
  padding-top: 12rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
element.style {
  background: rgb(255, 34, 83);
  width: 75%;
}
.experience-scroll-down {
  position: absolute;
  right: -20px;
  bottom: -270rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  display: block;
  font-size: 14px;
  color: #fff;
}
.experience-scroll-down--left {
  left: -30px;
  right: auto;
}
.experience-scroll-down span {
  display: inline-block;
  animation: scroll 0.5s linear infinite alternate-reverse;
}
@keyframes scroll {
  0% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(7px);
  }
}
.experience-scroll-down .fas {
  transform: rotate(270deg);
  margin-left: 10px;
}

/* contact css Starts from here*/

.section-6-content
{
  display: flex;
}
.contact {
  background: #000000;
  flex: 50%;
}
.box1 {
  background: #000000;
  flex: 50%;
}
.contact-form {
  width: 100%;
  padding-top: 1rem;
  display: block;
  position: relative;
  background: #000000;
  margin: auto;
  
}
#cform {
  width: 50%;
  margin: auto;
}
.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 100%;
  border: 0;
  background: #2b2b2b;
  height: 50px;
  font-size: 16px;
  color: #8d8d8d;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact-form textarea {
  width: 100%;
  border: 0;
  background: #2b2b2b;
  height: 50px;
  font-size: 16px;
  color: #8d8d8d;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 150px;
}
.flat-button {
  color: #08fdd8;
  font-size: 14px;
  letter-spacing: 4px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  margin-top: 20px;
  position: relative;
  width: 100%;
  max-width: 220px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
}
a {
  color: #08fdd8;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}
.contact-form ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
  /* opacity: 0; */
  overflow: hidden;
  display: block;
  clear: both;
  position: relative;
}

.contact-form ul {
  padding: 0;
  margin: 0;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.half-input {
  display: flex;
}
.btn-long{
    padding-top: 5rem;
    text-align: center;
    color: #08fdd8;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
  
    margin-left: 185px;
    background-color: #000000;
    height: 100%;
    border: 1px solid #08fdd8;
    padding: 12px 55px;
    /* display: inline-block; */
    transition: all 0.6s ease-out;
    display: block;
    background: linear-gradient(to right, #08fdd8 50%, #000000 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
  }
  
  .btn-long:hover {
    background-position: left bottom;
    color: #000000;
  }
  .google-map {
    width: 100%;
    position: relative;
  }
  .google-map iframe {
    width: 100%;
    margin-top: 50px;
    height: 140vh;
  }
  .map-content {
    background-color: #000;
    color: #f3f3f3;
    position: absolute;
    top: 100px;
    left: 40px;
    padding: 20px;
    backdrop-filter: blur(70%);
  }
  .map-content span {
    font-size: 16px;
    line-height: 1.5rem;
  }