/* NAVBAR STYLING STARTS */
.navbar {
  color: white;
  
  background-color: #181818;
  height: 70px;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.logo {
  /* margin-left: 15px; */
  font-size: 32px;
}
.nav {
  display: flex;
  gap: 1em;
  font-size: 1.3rem;
  font-family: "Open Sans",sans-serif;
}
.nav-link {
  color:#909096;
}
.nav-link:hover {
  color: #08fdd8;
  border-radius: 5px;
  transition: 0.3s ease;
}
.nav li {
  padding: 5px 14px;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .nav {
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    right: 0;
    left: 0;
    text-align: center;
    margin:auto;

  }

  .nav li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .nav li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .nav {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
